@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: 'Mulish', sans-serif;
  --font2: 'Open Sans', sans-serif;
  --cor1: #89C5CC;
  --cor2: #7D7987;
  --cor3: #1F1534;
  --cor4: #69B99D;
}

body {
  font-family: var(--font2);
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 0%, rgba(227, 255, 248, 0.38) 100%);
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
  font-family: var(--font1);
}

a {
  text-decoration: none;
  color: var(--cor3);
}

ul li a {
  opacity: 0.5;
}

ul li a:hover {
  opacity: 1;
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: var(--font1);
  font-size: 49px;
  font-weight: normal;
  line-height: 56px;

  width: 490px;
  color: var(--cor2);
}

h1 span {
  font-weight: bold;
  color: var(--cor1);
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: var(--cor2);
  margin: 40px 0;
}

button {
  color: white;
  text-transform: uppercase;
  font-family: var(--font2);

  background: var(--cor4);
  padding: 14px 32px 15px 32px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  color: black;
  background: #518f7a;
}

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}

footer a {
  font-weight: bold;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}